
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300&display=swap');

  body{
    font-family: 'Poppins';
    padding: 0px;
    margin: 0px;
  }


  header.navbar-container{
    width: 100%;
    display: flex;
    height: 90px;
    position: sticky;
    top: 0;
    justify-content: space-between;
    background-color: white;
  }

  header.navbar-container .logo{
    display: flex;
    align-items: center;
    margin-left: 200px;
    
  }
  header.navbar-container .logo img{
    height: 80px;
  }

  .nav-list{
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-right: 200px;
  }
  .nav-list li{
    list-style: none;
  }

  .nav-list li a{
    text-decoration: none;
    color: black;
    font-weight:500;
    font-size: 1.3rem;
    padding: .5rem 1.5rem;
    transition: ease-in-out .2s;
    border-radius: 25px;
  }

  .nav-list li:hover a{
    background-color: #54B435;
    color: white;
  }



  /* =========== BAGIAN MAIN ========= */
  
  main{
    width: 100%;
    
    
  }
article.home{
    display: flex;
    gap: 10rem;
    background-color: rgba(172, 255, 47, 0.62);
   
}

article.home .model_pria{
   display: flex;
   
   
}

article.home .home_description{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: auto;
    
    flex-wrap: wrap;
    
}
article.home .home_description h1{
    font-size: 50px;
    width: 500px;
}

article.home .home_description p{
  width: 500px;
}


/*================bagian katalog===================== */
article.katalog{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 700px;
  text-align: center;
  
 
}
.katalog-title h1{
font-size: 30px;
}

.katalog-container{
display: flex;
gap: 5rem;
margin: auto;
}


.card-katalog{
    width: 200px;
    height: 250px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: ease-in-out .5s;
    
}
.card-katalog:hover{
  background-color: #54B435;
  color: white;
}

.card-katalog-img{
    background-color: #f9ffc8;
    box-shadow: 0px 0px 20px 2px rgb(126, 123, 123) ;
    width: 60px;
    height: 60px;
    display: flex;
    border-radius: 1000px;
}


.card-katalog-img img{
    margin: auto;
}





/* ======================barang jualan ======================*/
.barang-kontainer{
  display: flex;
  justify-content: space-evenly;
  
  
}

article.barang{
  
  padding: 100px;
}
article.barang .barang_description h1{
font-size: 50px;
width: 500px;

}

article.barang .barang_description p{
  width: 500px;
  
}

article.barang .barang-button{
  padding: 1em 2em;
  background-color: #54B435;
  border-radius: 100px; 
  font-size: 1.1em;
  font-weight:700;
  border: solid 3px transparent;
  letter-spacing: 0px;
  cursor: pointer;
  color: white;
  transition: ease-in-out .5s;
  
  
}

article.barang .barang-button:hover{
letter-spacing: 5px;
color: black;
background-color: white;
border: 5px solid greenyellow;
}

article.barang .gambar-barang{
  
  border-radius: 1000px;
  
}


aside.aside-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  
}
.biodata-owner{
  width: 400px;
  margin: auto;
  padding: 2rem;
  border-radius: 25px;
  background-color:  rgba(172, 255, 47, 0.62);
  display: flex;
  flex-direction: column;
}




.owner-contact{
flex: 1;
}

.owner-contact a{
  text-decoration: none;
}
.owner-contact a h4{
  color: black;
  padding: 1.1rem 0rem ;
  border-radius: 20px;
  transition: ease-in-out .5s;
  margin: 0;
}

.owner-contact a h4:hover{
color: white;
background-color:#54B435 ;
letter-spacing: 3px;

}

footer{
  width: 100%;
  height: 700px;
  text-align: center;
  background-color:  rgba(172, 255, 47, 0.62);
  margin-top: 200px;
 
}

.footer-content{
  width: inherit;
  height: inherit;
   display: flex;
   gap: 5rem;
  align-items: center;
  justify-content: center;
  
} 
.footer-content h1{
  width: 300px;
}

.footer-content-contact{
  padding: 2rem;
  background-color: #F0FF42;
  width: 400px;
  border-radius: 20px;
}
.footer-content-contact input{
border: none;
border-radius: 10px;
height: 50px;
width: 250px;
}

.footer-content-contact textarea{
  width: 300px;
  height: 100px;
  border-radius: 10px;
  border: none;
}
.label-footer-contact{
  font-size: 20px;
  font-weight: 500;
}

.button-footer-contact{
  margin-top: 20px;
  padding: 1em 2em;
  background-color: #54B435;
  border-radius: 100px; 
  font-size: 1.1em;
  font-weight:700;
  border: solid 3px transparent;
  letter-spacing: 0px;
  cursor: pointer;
  color: white;
  transition: ease-in-out .5s;
}

.button-footer-contact:hover{
  letter-spacing: 7px;
color: white;
background-color: black;

}


